@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
* {
    box-sizing: border-box;
    --isabelline: #f4f3eeff;
    --safety-orange-blaze-orange: #f36b16ff;
    --auburn: #9e2a2bff;
    --rich-black-fogra-29: #0e1116ff;
    --independence: #374a67ff;
}


body, html {
    height: 100%;
    width: 100%;
    margin: 0px;           
}
body (
    display: flex;
    justify-content: center;
    align-items: center;
    
)
h1 {
}

body {
    background-color: var(--isabelline);
}
p {
    color: ;
}
.cage-p-tag{
    background-color: white;
    width: 750px;
}

img{
    padding: 25px;
    display: inline-block;
}
.my-grid {
    display: grid;
    grid-template-rows: 8vh 1fr;
    row-gap: 3%;
}
.my-grid div{
                
}